NODE_ENV=development

# Shared
REDIS_URL=redis://localhost:6379

# AWS
AWS_REGION=eu-west-3
AWS_BUCKET=your-bucket-name
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key

# API
API_PORT=3001
DSP_WEBHOOK_SECRET=your-webhook-secret

# Frontend
NEXT_PUBLIC_API_BASE_URL=http://localhost:3001

